<h2>Place Ships</h2>
<div class="row text-center">
	
	<button class="btn btn-sm shipBtn" ng-click="placenewship('carrier')">Aircraft Carrier</button>
	<button class="btn btn-sm shipBtn" ng-click="placenewship('battleship')">Battlship</button>
	<button class="btn btn-sm shipBtn" ng-click="placenewship('sub')">Submarine</button>
	<button class="btn btn-sm shipBtn" ng-click="placenewship('destroyer')">Destroyer</button>
	<button class="btn btn-sm shipBtn" ng-click="placenewship('patrol')">Patrol Boat</button>			

	<div class="btn-group" role="group" aria-label="orientation">
	  <button type="button" class="btn btn-sm btnShipAlign btn-default btn-primary" ng-click="toggleshipalignment()">Vertical</button>
	  <button type="button" class="btn btn-sm btnShipAlign btn-default" ng-click="toggleshipalignment()">Horizontal</button>
	</div>
</div>
<div class="jumbotron boardContainer" data-ng-init="init()">

	<div ng-repeat="col in columns">
	 	
	 	<div class="rowcontainer" ng-repeat="row in rows">
	 	
		 	<div coords="{{ col + ',' + row }}" 
		 		ng-mouseenter="hovertile($event)" 
		 		ng-mouseleave="exittile($event)" 
		 		class="rowitem">{{ col + '' + row }}
			 </div>
	 	
	 	</div>
	 	
	</div>
 
</div>
<!--
<div class="row text-center">
	<button class="btn btn-sm" ng-click="paintboard()">paint</button>	
</div> -->